@font-face {
	font-family: 'sinkinsans-600semibold';
	src: url('fonts/sinkinsans-600semibold-webfont.woff2') format('woff2'), url('fonts/sinkinsans-600semibold-webfont.woff') format('woff'), url('fonts/sinkinsans-600semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sinkinsans-300light';
	src: url('fonts/sinkinsans-300Light-webfont.woff2') format('woff2'), url('fonts/sinkinsans-300light-webfont.woff') format('woff'), url('fonts/sinkinsans-300light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


body {
	font-family: 'Sinkin Sans', sans-serif;
	font-size: 1rem;
	font-style: normal;
}

main {
	width: 95%;
	margin: auto;
}

img {
	width: 100%;
	max-width: 300px;
}
